/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype"), url("../fonts/Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.header-wraper .header-cont .header-text .header-btn {
  max-width: 200px;
  width: 100%;
  height: 70px;
}

body {
  background-color: #fc405ffa;
}

.header-wraper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-wraper nav .logo, .header-wraper nav .burger-bar {
  font-family: "Poppins";
  color: #fff;
  font-size: 40px;
  margin-top: 30px;
}

.header-wraper .header-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 980px) {
  .header-wraper .header-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.header-wraper .header-cont .header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-wraper .header-cont .header-text .main-heading, .header-wraper .header-cont .header-text .header-p {
  color: #fff;
  font-family: "Roboto";
  font-size: 80px;
  max-width: 535px;
  width: 100%;
  margin-top: 80px;
}

@media (max-width: 850px) {
  .header-wraper .header-cont .header-text .main-heading, .header-wraper .header-cont .header-text .header-p {
    font-size: 50px;
    margin-top: 50px;
  }
}

.header-wraper .header-cont .header-text .header-p {
  font-size: 18px;
  margin-top: 30px;
}

@media (max-width: 850px) {
  .header-wraper .header-cont .header-text .header-p {
    font-size: 16px;
  }
}

.header-wraper .header-cont .header-text .header-btn {
  background-color: #fff;
  border-radius: 35px;
  border: none;
  font-family: "Roboto";
  font-size: 24px;
  color: #FF4363;
  margin-top: 30px;
}

@media (max-width: 850px) {
  .header-wraper .header-cont .header-text .header-btn {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
  }
}

.header-wraper .header-cont .right-block {
  max-width: 610px;
  width: 100%;
}

.header-wraper .header-cont .right-block .header-img {
  margin-top: 30px;
  width: 100%;
}

.boxes {
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 50px;
}

.boxes .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 370px;
  width: 100%;
  height: 370px;
  -webkit-box-shadow: 0px 0px 59px #D8D8D8;
          box-shadow: 0px 0px 59px #D8D8D8;
  margin-top: 40px;
  border-radius: 10px;
}

.boxes .box:hover {
  max-width: 390px;
  width: 100%;
  height: 390px;
}

.boxes .box:hover .box-h1 {
  font-size: 26px;
}

.boxes .box:hover .box-p {
  font-size: 18px;
}

.boxes .box:nth-child(2) .box-img {
  background-color: #F5F4FF;
}

.boxes .box:nth-child(3) .box-img {
  background-color: #FFF6F3;
  padding-left: 22px;
}

.boxes .box .box-img {
  width: 70px;
  height: 70px;
  border-radius: 40px;
  padding-top: 15px;
  padding-left: 18px;
  background-color: #FFF4F5;
}

.boxes .box .box-h1 {
  font-size: 24px;
  font-family: "Poppins";
  font-weight: bold;
}

.boxes .box .box-p {
  font-family: "Poppins";
  font: 16px;
}
/*# sourceMappingURL=global.css.map */