body {
    background-color: #fc405ffa;
}

// header

.header-wraper {
    nav {
        @include d-flex(flex, space-around);
        .logo {
            font-family: $Poppins;
            color: $white;
            font-size: 40px;
            @include margin-top30;
        }
        .burger-bar {
            @extend .logo;
        } 
    }
    .header-cont {
        @include d-flex(flex, space-around);
        @media (max-width: 980px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .header-text {
            @include d-flex(flex, center);
            flex-direction: column;
            .main-heading {
                color: $white;
                font-family: $roboto;
                font-size: 80px;
                max-width: 535px;
                width: 100%;
                margin-top: 80px;
                @media (max-width: 850px) {
                    font-size: 50px;
                    margin-top: 50px;
                }
            }
            .header-p {
                @extend .main-heading;
                font-size: 18px;
                @include margin-top30;
                @media (max-width: 850px) {
                    font-size: 16px;
                }
            }
            .header-btn {
                @extend %size-btn;
                background-color: $white;
                border-radius: 35px;
                border: none;
                font-family: $roboto;
                font-size: 24px;
                color: #FF4363;
                @include margin-top30;
                @media (max-width: 850px) {
                    font-size: 18px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
        .right-block {
            max-width: 610px;
            width: 100%; 
            .header-img {
                @include margin-top30;
                width: 100%;
            }
        }
    }
}

// Section

.boxes {
    width: 100%;
    background-color: $white;
    @include d-flex(flex, space-around);
    flex-wrap: wrap;
    padding-bottom: 50px;
    .box {
        @include d-flex(flex, space-around);
        flex-direction: column;
        align-items: center;
        max-width: 370px;
        width: 100%;
        height: 370px;
        box-shadow: 0px 0px 59px #D8D8D8;
        margin-top: 40px;
        border-radius: 10px;
        &:hover {
            max-width: 390px;
            width: 100%;
            height: 390px;
        }
        &:hover .box-h1 {
            font-size: 26px;
        }
        &:hover .box-p{
            font-size: 18px;
        }
        &:nth-child(2) .box-img {
            background-color: #F5F4FF;
        }
        &:nth-child(3) .box-img {
            background-color: #FFF6F3;
            padding-left: 22px;
        }
        .box-img {
            width: 70px;
            height: 70px;
            border-radius: 40px;
            padding-top: 15px;
            padding-left: 18px;
            background-color: #FFF4F5;
        }
        .box-h1 {
            font-size: 24px;
            font-family: $Poppins;
            font-weight: bold;
        }
        .box-p {
            font-family: $Poppins;
            font: 16px;
        }
    }
}
